<div ui-content-for="modals">
  <div ng-include="'msgbox.html'"></div>
</div>
<div class="scrollable-content section bbs">
  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group" >
      <div ng-repeat="item in goods" class="panel panel-default media">
	    <div class="panel-body media-body" >
		  <div class="pull-left">
            <img ng-src="{{item.thumb}}" class="bbs-thumb"/>
          </div>
		  <div class=" pull-right">
            <h5 class="media-heading">{{item.productname}} {{item.ownername}}</h5>
			<h6>{{item.html}}</h6>
		    <h6><small>售价:<img src="./asserts/Mahjong/gold.png" class="bbs-avatar"/>{{item.price}}金币<span class="label label-success">购买</span></small></h6>
          </div>
        </div>
      </div>
	</div>
    <div class="list-group" ui-state='accordion'>
      <div ng-repeat="topic in comments" class="panel panel-default">
        <div class="panel-heading" ui-set="{'accordion': topic.id}" ng-click='onClickCommentItem(topic.id)'>
          {{ topic.content }}
          <div class="pull-right">
            <img ng-src="{{topic.avatar}}" class="bbs-avatar"/>{{ topic.user }} {{ topic.time }}
          </div>
        </div>
        <div class="panel-body" ui-if="accordion == {{topic.id}}"> 
          <div ng-repeat="msg in replies" class="bbs-line">
		    {{ msg.content }} 
			<div class="pull-right">
              <img ng-src="{{msg.avatar}}" class="bbs-avatar"/>{{ msg.name }} {{ msg.time }} 
            </div>
          </div>
		  <div ng-class="{'collapse': topic.uid == myid || topic.dnd != 1, 'row': topic.uid != myid && topic.dnd == 1}" >
            <div class="col-sm-10">
              <input type="text" class="form-control needsclick" ng-model="replyText"/>
			</div>
			<div class="col-sm-2 ">
              <button class="btn btn-primary pull-right" ng-click="onClickReply(topic.id, replyText);replyText='';">回复</button>
			</div>
		  </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-class="{'collapse': !commentVisible , 'scrollable-footer row': commentVisible}">
    <div class="col-sm-10">
      <input type="text" class="form-control needsclick" ng-model="commentText"/>
    </div>
    <div class="col-sm-2"><button class="form-control btn btn-primary" ng-click="onClickComment(commentText);commentText='';">发表</button>
    </div>
  </div>
</div>