<div class="scrollable">
    <div class="scrollable-content section">
 
        <form action="" id="" ng-submit="signin()">
 
            <div bs-panel title="">
 
                <input bs-form-control type="text" ng-model="user.username" class="form-control needsclick" placeholder="Username" />
 
                <input bs-form-control type="password" ng-model="user.password" class="form-control needsclick" placeholder="Password" />
 
                <button type="submit" id="btnSignIn" class="btn btn-primary" data-style="expand-right">
                    Sign In
                </button>
 
            </div>
 
        </form>
 
    </div>
</div>