<div ui-content-for="modals">
  <div ng-include="'msgbox.html'"></div>
  <div ng-include="'msgbox-i.html'"></div>
</div>
<div class="scrollable-content section bbs">
	<div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group" ui-state='accordion'>
	    <div ng-repeat="item in stars">
		  <a class="list-group-item media" ui-set="{'accordion': item.id}">
			<div class="pull-left avatar-big">
			  <img ng-src="{{item.thumb}}"/>
			</div>
			<div class="media-body">
			  {{ item.name }} 
			  <i class="fa fa-chevron-right pull-right"></i>
			</div>
		  </a>
		  <div class="list-group-item media" ui-if="accordion == {{item.id}}">
			<div ng-switch on="auth" class="media-body">
			  <div ng-switch-when="0"  class=" btn-group pull-right">
				  <a href="#/register" class="btn btn-default fa fa-eye text-primary "></a>
				  <a href="#/register" class="btn btn-default fa fa-gamepad" ng-class="item.clz[1]==0 ? 'collapse' : item.clz[1]==1 ? 'text-primary' : 'text-default' "></a>
				  <a href="#/register" class="btn btn-default fa fa-comments-o text-primary "></a>
				  <a href="#/register" class="btn btn-default fa fa-gear text-primary" ng-class="{'collapse':item.clz[3]==0}"></a>
			  </div>
			  <div ng-switch-default  class=" btn-group pull-right">
				  <a href="#/user/?id={{item.id}}" class="btn btn-default fa fa-eye text-primary "></a>  
				  <a ng-if="item.clz[1]==1" href="javascript:void(0);" ng-click="clickPlay(item.id)"  class="text-primary btn btn-default fa fa-gamepad"></a>
				  <a ng-if="item.clz[1]==2" href="javascript:void(0);"   class="text-default btn btn-default fa fa-gamepad"></a>
				  <a href="#/bbs/?id={{item.id}}" class="btn btn-default fa fa-comments-o text-primary "></a>
				  <a href="#/setting/?id={{item.id}}" class="btn btn-default fa fa-gear text-primary" ng-class="{'collapse':item.clz[3]==0}"></a>
			  </div>
			</div>
		  </div>
        </div>
    </div>
  </div>
</div>