<div class="modal" ui-if='mbi' ui-state='mbi'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="mbi">&times;</button>
        <h4 class="modal-title">请选择金币数</h4>
      </div>
      <div class="modal-body">
        <div class="form-group"><input type="text" class="form-control" ng-model="mbiChip"/></div>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="mbi" class="btn btn-primary" ng-click="mbiConfirm()">继续</button>
      </div>
    </div>
  </div>
</div>
