<div class="scrollable-content section bbs">
  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <form role="form" ng-init="card={}" >
      <div class="modal-body" ui-state='accordion'>
	    <div class="form-group checkbox-inline">
          <label class="checkbox-inline">
            <input type="checkbox" name="cardType" ng-model="card.price.m10"> 20元(20金币)
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="cardType" ng-model="card.price.m50"> 50元(55金币)
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="cardType" ng-model="card.price.m100"> 100元(110金币)
          </label>
        </div>
		<div class="form-group checkbox-inline">
          <label class="checkbox-inline">
            <input type="checkbox" name="cardType" ng-model="card.type.visa"> Visa信用卡 <img src="./asserts/visa.png"/>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="cardType" ng-model="card.type.master"> MasterCard信用卡<img src="./asserts/MasterCard.png"/>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="cardType" ng-model="card.type.union"> 银联信用卡 <img src="./asserts/UnionPay.png"/>
          </label>
        </div>
		<div class="form-group"> <input type="text" class="form-control needsclick" ng-model="card.number" ui-set="{'accordion': 1} >信用卡卡号 <img src="./asserts/CardNubmer.png" ng-if="accordion == 1"/></div>
		<div class="form-group"> <input type="text" class="form-control" datepicker-popup="MM/yyyy" ng-model="card.validDate" is-open="opened" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ui-set="{'accordion': 2}>有效期<img src="./asserts/validDate.png" ng-if="accordion == 2"/></div>
		<div class="form-group"> <input type="text" class="form-control needsclick" ng-model="card.ccv2" ui-set="{'accordion': 3}>卡背面三位数字 <img src="./asserts/ccv2.png" ng-if="accordion == 3"/></div>
      </div>
	  <button class="btn btn-primary btn-block" ng-click="mbpayConfirm()">确认</button>
    </form>
  </div>
</div>