
<div class="section">
  <form role="form" ng-submit='login()'>
	<fieldset>
    <div class="user-avatar">
      <div><a class="fa fa-user feature-icon text-primary" ng-class="{'collapse': avatarHint==0}"></a></div>
      <div><canvas id="imgAvatar"/></div>
      <div><span ng-class="{'label label-danger': avatarHint==-1, 'label label-primary': avatarHint==1, 'collapse': avatarHint==0}" >请选择头像</span></div>
      <div><input type="file" style="opacity: 0;" class="form-control" onchange="angular.element(this).scope().uploadAvatar(this.files)"/></div>
    </div>
    
	  <div class="form-group">
	  <input type="text" class="form-control" placeholder="{{holder}}" ng-model="nickName"/></div>
	</fieldset>
  <br>
	<button class="btn btn-primary btn-block" ng-click='submit()'>提交</button>
  </form>
</div>
