<ui-state id='activeTab' default='1'></ui-state>
<div class="scene scene-fix" ng-init="table={}">
    <div class="scene-tabs">
      <a ui-set="{'activeTab': 1}" ui-class="{'scene-bar': activeTab == 1}"><i class="fa fa-dashboard"></i></a>
      <a ui-set="{'activeTab': 2}" ui-class="{'scene-bar': activeTab == 2}"><i class="fa fa-photo"></i></a>
    </div>
	
	<div ui-if="activeTab == 1" class="scene-content">
	  <div class="scene-canvas">
			<canvas directive-car></canvas>
			<img id="imgAvatar" ng-src="{{avatar}}" class="driver-avatar"/>
			<input type="file" style="opacity: 0;" class="driver-avatar" onchange="angular.element(this).scope().uploadImgAvatar(this.files)" />
			<small class="driver-chip"><img src="./asserts/Mahjong/gold.png" class="bbs-avatar"/>{{chip}}金币</small>
	  </div>
    </div>
      
    <div ui-if="activeTab == 2" class="scene-content">
	    <div ng-repeat="item in images" class="scene-canvas">
		  <div ng-if="item.uid != 0">
		    <img class="img-del" src="./asserts/del.png" ng-click='delSell($index, item)' ></img>
		    <img ng-src="{{item.img}}" ></img>
		    <h3>{{item.intro}}</h3>
          </div>
		  
		  <div ng-if="item.uid == 0" >
		    <div class="container-plus">
			  <img id="imgSell" ng-show="sell!==''" ng-src="{{sell}}" ></img>
			  <div class="box-plus" ng-show="sell==null">
		        <img class="img-plus" src="./asserts/plus.png" />
              </div>
			</div>
              <div class="scrollable-footer section">
                <div class="col-sm-10 media-left">
                  <input type="text" class="form-control needsclick input-transparent" ng-model="table.commentSell"/>
                </div>
			    <div class="col-sm-2 media-right">
                  <button class="btn btn-primary pull-right" ng-click="submitSell()">新增</button>
                </div>
              </div>
            <div class="scene-canvas"><input type="file" style="opacity: 0;" class="form-control" onchange="angular.element(this).scope().uploadImgSell(this.files);" file-model="table.imgSellToUpload"/></div>
          </div>
		  
		  <div class="input-transparent">  </div>
	    </div>
		
    </div>
</div>
<!--script type="text/javascript-user">
(function () {  ng-show=''
	var canvas = document.getElementById("car");
	if( canvas != null )
		Car.create( canvas );
}).call(this);
</script-->