<div class="scrollable-content bbs">
	<div class="scrollable-content section">
    <ui-state id='activeTab' default='1'></ui-state>
    <ul class="nav nav-tabs">
      <li ui-class="{'active': activeTab == 1}">
        <a ui-set="{'activeTab': 1}" >车位</a>
      </li>
      <li ui-class="{'active': activeTab == 2}">
        <a ui-set="{'activeTab': 2}" >图像</a>
      </li>
    </ul>
	
	<div ui-if="activeTab == 1">
	  <div class="user-car body">
		<canvas id="car" class="user-img"></canvas>
		<img ng-src="{{avatar}}"  class="driver-avatar"></img>
		<a href="" class="btn">世界好大</a>
		<a href="" class="btn pull-right">财富$100</a>
	  </div>
    </div>
      
    <div ui-if="activeTab == 2">
      <div class="carousel">
	    <div ng-repeat="item in images" class="carousel-inner" >
		  <div ng-if="item.img != null"  class="carousel-item">
		    <img ng-src="{{item.img}}"  class="user-img"></img>
		    <h3 class="user-desc">{{item.desc}}</h3>
          </div>
		  <div ng-if="item.img == null"  class="carousel-item">
		    <div class="user-add" ng-click="userAdd = true">
		      <img src="./asserts/plus.png" />
			</div>
		    <input type="text" class="form-control needsclick user-desc" ng-model="imgComment"/>
          </div>
	    </div>
	  </div>
    </div>
	</div>
	<a class="btn btn-block btn-lg btn-primary scrollable-footer fa " ng-class="{'fa-comments-o':!userAdd, 'fa-pencil-square-o':userAdd}" ng-href="userAdd ? '#' : '{{userLnk}}' "/>
</div>
<script type="text/javascript-user">
(function () {
	var canvas = document.getElementById("car");
	if( canvas != null )
		Car.create( canvas );
}).call(this);
</script>