
<html>
	<head>
		<title>团沛软件</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Spareparts iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link rel="icon" href="${contextPath}/templates/${templateName}/images/favicon.ico" type="image/x-icon" />
		<link href="${contextPath}/templates/${templateName}/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
		<!---start-wrap---->
		<div class="wrap">
			<!---start-header---->
			<div class="header toTop logo-wrap" id="header">
				<!---start-logo---->
				<div class="logo-wrap">
					<div class="logo"><a href="${JForumContext.encodeURL("/home/home")}"><img src="${contextPath}/templates/${templateName}/images/home.logo.jpg" title="logo" /></a></div>
					<div class="search-about">
						<input type="text" class="textbox" ">
						<!--input type="submit" value="" /-->
					</div>
				</div>
				
				<div class="clear"> </div>
			</div>
		</div>
		<br><br><br>
		<div id="home-bar">
			<div class="home-bar-wrap">
				<div class="home-bar-intro">
					<h1>团沛软件公司</h1>
					<h2>客户的成功，就是我们最大的成功，我们致力于客户在互联网信息时代力拔头筹</h2>
					<p><a href="#" class="btn btn-outline">海关数据试用</a></p>
				</div>
			</div>
		</div>
		
		<div id="container">
				<div class="row" id="home-bar-features">
					
					<div class="col-sm-6 text-center home-bar-feature ">
						<img src="data.png"/>
						<h3 class="heading">海关数据</h3>
						<p>通过互联网全网抓取海关数据，采购人邮箱等详细联系方式</p>
					</div>
					<div class="col-sm-6 text-center home-bar-feature"> 
						<img src="ocr.png"/>
						<h3 class="heading">云识别</h3>
						<p>纸质文档、证件自动图像识别，是你办公的得力助手</p>
					</div>

					<!--div class="clearfix visible-sm-block"></div-->

					<div class="col-sm-6 text-center home-bar-feature"> 
						<img src="bms.png"/>
						<h3 class="heading">短信/邮箱推广</h3>
						<p>从求职网站、微博等抓取可靠性高的用户联系方式，分析用户特点，助你提高商品推广效率，</p>
					</div>

					<div class="clearfix visible-md-block visible-lg-block"></div>

					<div class="col-sm-6 text-center home-bar-feature">
						<img src="template.png"/>
						<h3 class="heading">电子商务/社区模板</h3>
						<p>免费为我们的客户提供电子商务/社区产品模板</p>
					</div>

					<!--div class="clearfix visible-sm-block"></div-->

					<div class="col-sm-6 text-center home-bar-feature"> 
						<img src="oa.png"/>
						<h3 class="heading">OA办公自动化</h3>
						<p>自定义表单，自定义工作流引擎，实现你的办公自动化</p>
					</div>
					<div class="col-sm-6 text-center home-bar-feature"> 
						<img src="speed.png"/>
						<h3 class="heading">秒杀软件</h3>
						<p>TCP/IP全协议栈优化，提高你高频交易、拍牌、抢票的命中率，研发中...</p>
					</div>
				</div>
		</div>
		<!--ul>
		  <% items.forEach(function(item){ %> 
			  <li><small><%= item.type %></small><small><%= item.day %></small><a href="delete?id=<%= item.id %>">删除</a></li> 
			  <hr>			  
		  <% }) %>  
		  </ul-->
		<!---start-copy-right---->
		<div class="copy-right vertical-align: baseline;">
			<div class="wrap">
				<p>Powered by 团沛软件. jiexx@outlook.com</p>
			</div>
		</div>
    <!--a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a-->
		<!---End-copy-right---->
		<!---start-wrap---->
	</body>
</html>

