
<html>
	<head>
		<title>团沛软件</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Spareparts iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="${contextPath}/templates/${templateName}/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<script>
		function comment(text) {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4 && xhttp.status == 200) {
					var comment = eval(xhttp.responseText);
					document.getElementById("newComment").nextSibling.innerHTML = 
					"<div class=\"contact\">" +
						"<div class=\"wrap\">" +
							"<h4>"+comment.text+"</h4>" +
							"<h5>"+comment.username+"发表于"+comment.time+"</h5>" +
						"</div>"+
					"</div>";
				}
			};
			var params = "module=home&action=comment&product_no=${product.id}" 
				+ "&OWASP_CSRFTOKEN="+encodeURIComponent("${OWASP_CSRFTOKEN!""}")
				+ "&content="+encodeURIComponent(text);
			xhttp.open("POST", "${JForumContext.encodeURL("/jforum")}", false);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.setRequestHeader("Content-length", params.length);
			xhttp.setRequestHeader("Connection", "close");
			xhttp.send(params);
		}
	</script>
	<body>
		<!---start-wrap---->
		<div class="wrap">
			<!---start-header---->
			<div class="header toTop" id="home">
				<!---start-logo---->
				<div class="logo">
					<a href="#"><img src="${contextPath}/templates/${templateName}/images/logo.png" title="logo" /></a>
				</div>
			</div>
		</div>
		<!--start-content--->
		</div><br><br><br><br><br><br>
		<div class="content">
			<#list product.img as image>
			<div class="gallrey-grids">
				<div class="holder smooth">
					 <img src="${contextPath}/${image.thumbPath()}?OWASP_CSRFTOKEN=${OWASP_CSRFTOKEN!""}" alt="">
				</div>
			</div>
			</#list>
			<div class="gallery-header">
				<h3>${product.name}</h3>
				<p>${product.desc}</p>
			</div>
			<div class="catch-me">
						<ul>
							<li><a href="#"><img src="${contextPath}/templates/${templateName}/images/buy.png" title="订"></a></li>
						</ul>
					</div>
		</div>
		
		<!---start-contact---->
		<div class="contact" id="contact">
			<div class="wrap">
				<h3>留言</h3>
				<form action="${JForumContext.encodeURL("/home/detail/${product.id}")}" method="post" accept-charset="utf-8">
					<input type="hidden" name="module" value="home" />
					<input type="hidden" name="action" value="comment" />
					<input type="hidden" name="product_no" value="${product.id}" />
					<input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />
					<textarea name="content" value="${content}" >${content}</textarea>
					<input type="submit" value="确认">
				</form>
			</div>
			<p></p>
		</div>
		<!---End-contact---->
		<!---start-contact---->
		<div id="newComment"></div>
		<#list product.comments as comment>
		<div class="contact">
			<div class="wrap">
				<h4>${comment.getText()}</h4>
				<h5>${comment.getPostUsername()}发表于${comment.getTime().toLocaleString()}</h5>
			</div>
		</div>
		</#list>
		<!---End-contact---->
		<!---start-copy-right---->
		<div class="copy-right vertical-align: baseline;">
			<div class="wrap">
				<p>Powered by 团沛软件. jiexx@outlook.com</p>
			</div>
		</div>
    <!--a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a-->
		<!---End-copy-right---->
		<!---start-wrap---->
	</body>
</html>

