
<html>
	<head>
		<title>团沛软件</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Spareparts iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="${contextPath}/templates/${templateName}/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
		<!---start-wrap---->
		<div class="wrap">
			<!---start-header---->
			<div class="header toTop" id="home">
				<!---start-logo---->
				<div class="logo">
					<a href="#"><img src="${contextPath}/templates/${templateName}/images/logo.png" title="logo" /></a>
				</div>
			</div>
		</div>
		</div><br><br><br><br><br><br>
		<!--start-content--->
		<div class="content">
				<div class="search-about">
					<div class="wrap subgrid">
					<form>
						<input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
						<input type="submit" value="" />
						<div class="clear"> </div>
					</form>
				</div>
			</div>
			<#list allProducts as product>
			<div class="Gallery" id="gallery">
				<#list product.img as image>
				<div class="wrap">	
					<div class="gallrey-grids">
							<div class="holder smooth">
								 <a href="${JForumContext.encodeURL("/home/detail/${product.id}")}"><img src="${contextPath}/${image.thumbPath()}?OWASP_CSRFTOKEN=${OWASP_CSRFTOKEN!""}" alt="[Thumb - ${image.info.realFilename}]"/></a>
							</div>
						</div>
						<div class="clear"> </div>
					</div>
				</#list>
					<div class="gallery-header">
						<p>${product.desc}</p>
					</div>
					<div class="catch-me">
						<ul>
							<li><a href="#"><img src="${contextPath}/templates/${templateName}/images/wei.png" title="facebook"></a></li>
							<li><a href="#"><img src="${contextPath}/templates/${templateName}/images/buy.png" title="Googlepluse"></a></li>
						</ul>
					</div>
			</div>
			</#list>
			<div class="Gallery" id="gallery">
				<div class="wrap">	
					<div class="gallrey-grids">
							<div class="holder smooth">
								 <a href="detail.html"><img src="${contextPath}/templates/${templateName}/images/one.jpg" alt=""></a>
							</div>
						</div>
						<div class="clear"> </div>
					</div>`
					<div class="gallery-header">
						<p>吉姆奈玛茶Gymnema是一种印度茶叶，能非常有效的抑制糖分吸收，所以绰号又叫“糖杀死”。</p>
					</div>
					<div class="catch-me">
						<ul>
							<li><a href="#"><img src="${contextPath}/templates/${templateName}/images/facebook.png" title="facebook"></a></li>
							<li><a href="#"><img src="${contextPath}/templates/${templateName}/images/rss.png" title="Rss"></a></li>
							<li><a href="#"><img src="${contextPath}/templates/${templateName}/images/buy.png" title="Googlepluse"></a></li>
						</ul>
					</div>
			</div>
			<div class="Gallery" id="gallery">
				<div class="wrap">	
					<div class="gallery-header">
						<h3>兰山的故事</h3>
						<p>&nbsp;&nbsp;有一次我在皖南采访一位开工厂的老板。他给我 们泡了一小杯野茶，我一开始并不注意，野茶的样子杂杂的，色泽跟老茶没有什么区别。当我不经 意喝了几口之后，立即感得满嘴泛甜，而且这种甜越来越浓、越来越醇。凭着我多年喝茶的经验， 觉得这应该是好茶。这时那位老板在一旁笑着解释道：这是他的老婆在山崖采摘下来的天然野茶。 我打开那只存放野茶的饼干筒，里面只有浅浅一层野茶，因为奇特不可多得，才觉得非常少。就是 偶然那次遇到野茶，至今我久久不忘。</p>
						<p>&nbsp;&nbsp;健康好比追寻野茶，在世界各个不起眼的角落里，走的路越得多健康就离你越近...</p>
					</div>
			</div>
		</div>
		<div class="clear"> </div>
		<!---start-copy-right---->
		<div class="copy-right vertical-align: baseline;">
			<div class="wrap">
				<p>Powered by 团沛软件. jiexx@outlook.com</p>
			</div>
		</div>
    <!--a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a-->
		<!---End-copy-right---->
		<!---start-wrap---->
	</body>
</html>

