<html>
	<head>
		<title>味浓</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Spareparts iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link rel="icon" href="${contextPath}/templates/${templateName}/images/favicon.ico" type="image/x-icon" />
		<link href="${contextPath}/templates/${templateName}/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<script>
		window.onload=function(){ 
			var ua = navigator.userAgent.toLowerCase();
			if(ua.match(/MicroMessenger/i)=="micromessenger") {
				document.getElementById('header').className = "header toBottom logo-wrap";
			} else {
				document.getElementById('header').className = "header toTop logo-wrap";
			}
		};
		function checkLogin() {
			if( document.getElementById("userphone") == "" ) {
				document.getElementById("userphone").placeholder = "手机号码不能为空";
				return false;
			}
			if( document.getElementById("password") == "" ) {
				document.getElementById("password").placeholder = "用户密码不能为空";
				return false;
			}
			return true;
		}
	</script>
	<body>
		<!---start-wrap---->
		<div class="wrap">
			<!---start-header---->
			<div class="header toTop logo-wrap" id="header">
				<!---start-logo---->
				<div class="logo-wrap">
					<div class="logo"><a href="${JForumContext.encodeURL("/home/list")}"><img src="${contextPath}/templates/${templateName}/images/logo.png" title="logo" /></a></div>
					<div class="search-about">
						<input type="text" class="textbox" ">
						<!--input type="submit" value="" /-->
					</div>
				</div>
				
				<div class="clear"> </div>
			</div>
		</div>
		<br><br><br>
		<!--start-content--->
			<form method="post"  accept-charset="${encoding}" action="${JForumContext.encodeURL("/home/login")}" onsubmit="return checkLogin()">
				  <input type="hidden" name="module" value="home" />
				  <input type="hidden" name="action" value="login" />
				  <input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />
				  
				  <#if returnPath?exists>
				  	<input type="hidden" name="returnPath" value="${returnPath?html}" />
				  </#if>
				  <div class="about">
					  <p>&nbsp;
					  <#if invalidLogin?exists && invalidLogin == 2>
						手机号码/密码错误
					  </#if>
					  </p>
					<div class="clear"> </div>
				</div>
				  
				  <div class="login-about">
					<div class="wrap subgrid">
						<input type="text" id="userphone" name="userphone" class="textbox" placeholder="手机号码">
						<div class="clear"> </div>
					</div>
				</div>
				<div class="login-about">
					<div class="wrap subgrid">
						<input type="password" id="password" name="password" class="textbox" placeholder="用户密码">
						<div class="clear"> </div>
					</div>
				</div>
				<div class="login-about">
					<div class="wrap subgrid">
						<input type="submit" value="登陆"/>
						<div class="clear"> </div>
					</div>
				</div>
				<div class="login-about">
					<div class="wrap subgrid">
						<a href="${JForumContext.encodeURL('/home/registe')}?returnPath=${returnPath}">新用户注册</a>
						<div class="clear"> </div>
					</div>
				</div>
			</form>
		</div>
		<div class="clear"> </div>
		<!---start-copy-right---->
		<div class="copy-right vertical-align: baseline;">
			<div class="wrap">
				<p>Powered by 团沛软件. jiexx@outlook.com</p>
			</div>
		</div>
	</body>
</html>