<div ui-content-for="title">
  <span >追踪</span>
</div>

<div class="scrollable">  
  <div class="scrollable-content section">

    <div class=" container">
		<div >
		  <form role="form" ng-submit='update()' >
			<fieldset>
			    <div class="justified media">
                  <div >
				    <input type="text" ng-model="currPage.id" class="form-control" readonly></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <a class="btn text-muted"><i class="fa fa-arrow-circle-left"></i></a>
				      <small class="text-muted">追踪猎物ID</small>
					</div>
				  </div>
				</div>
			    <div class="justified media">
                  <div >
				    <input type="text" ng-model="currPage.name" class="form-control"></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <a class="btn text-muted"><i class="fa fa-arrow-circle-left"></i></a>
				      <small class="text-muted">追踪猎物名称</small>
					</div>
				  </div>
				</div>
			    <div class="justified media">
                  <div >
				    <input type="text" ng-model="item.expr" class="form-control" placeholder="?为DOM元素值. eg. www.web.com/?;[]为csv数据/db数据"></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <a class="btn text-muted"><i class="fa fa-arrow-circle-left"></i></a>
				      <small class="text-muted">网页URL</small>
					</div>
				  </div>
				</div>
				<div ng-repeat="item in tags" class="justified list-item-patch-i">
				  <div>
				    <ui-state id='tagTrace{{$index}}' default='0'></ui-state>
					<ui-state id='tagTraceNew{{$index}}' default='0'></ui-state>
					<ui-state id='tagProperty{{$index}}' default='0'></ui-state>
					<ui-state id='tagPropSelected{{$index}}' default='0'></ui-state>
					<ui-state id='tagRepeated{{$index}}' default='0'></ui-state>
					<ui-state id='help{{$index}}' default='0'></ui-state>
				    <input type="text" ng-model="item.expr" class="form-control"></input>
				  </div>
				  <div class="btn-group">
				    <div class="pull-left">
					    <a class="btn" ui-turn-on='help{{$index}}'>
					      <i ui-if='help{{$index}}' class="fa fa-arrow-circle-down"></i>
					  	  <i ui-if='!help{{$index}}' class="fa fa-arrow-circle-left"></i>
					    </a>
					    <small class="text-muted h6" 
						  ui-if='!tagRepeated{{$index}}&&!tagPropSelected{{$index}}&&!tagTraceNew{{$index}}'>追踪网页DOM标签
						</small>
                        <ul
					        ui-if='help{{$index}}'
					  	    ui-outer-click="Ui.turnOff('help' + $index)" 
					  	    ui-outer-click-if="Ui.active('help' + $index)" class="dropdown-menu text-muted">
                          <li><h6 class="media-right">你可以选择</h6></li>
					      <li class="divider"></li>
					  	  <li><h6 class="media-left"><a class="btn" ui-toggle='tagRepeated{{$index}}'><i class="fa fa-repeat"></i></a>标记该网页DOM标签为数组</h6></li>
                          <li><h6 class="media-left"><a class="btn" ui-toggle='tagTrace{{$index}}'><i class="fa fa-link"></i></a>继续根据该网页DOM标签追踪猎物</h6>
						    <div class="dropdown" ui-if='tagTrace{{$index}}'>
							  <ul class="dropdown-menu img-del text-muted">
						        <li ng-repeat='page in pages[0]'>
								  <div ui-toggle='tagTraceNew{{$index}}'>
								    <a class="btn media-body" ><i ui-if='!tagTraceNew{{$index}}' class="fa fa-circle-o"></i><i ui-if='tagTraceNew{{$index}}' class="fa fa-check-circle-o"></i></a>
								    <h6 class="media-body media-middle">{{page.id}}</h6>
								    <h6 class="media-body media-middle media-right text-nowrap">{{page.name}}</h6>
								    <a class="btn media-body"><i class="fa fa-edit"></i></a>
								  </div>
								</li>
								<li><h6 class="media-left"><div class="btn"><a class="fa fa-plus-circle"></a></div>新猎物</h6></li>
						      </ul>
							</div>
						  </li>
                          <li><h6 class="media-left"><a class="btn" ui-toggle='tagProperty{{$index}}'><i class="fa fa-tags"></i></a>追踪该网页DOM标签的属性</h6>
						    <div class="dropdown" ui-if='tagProperty{{$index}}'>
							  <ul class="dropdown-menu img-del text-muted">
								<li>
								  <small class="btn media-right"><input type="text" class="form-control " style="width:150px" placeholder="eg.href, tag, ..." value=""></input></small>
								  <div class="btn media-right" ui-toggle='tagPropSelected{{$index}}' >
								    <i ui-if='!tagPropSelected{{$index}}' class="fa fa-check btn btn-primary "   ></i>
								    <i class="fa fa-remove btn btn-primary" ui-if='tagPropSelected{{$index}}' ></i>
							      </div>
								</li>
						      </ul>
							</div>
						  </li>
					      <li ng-if='$last||$last==undefine'>
						    <h6 class="media-left">
							  <div class="btn"><a ng-click="Ui.turnOff('help' + $index);addTag('help'+($index+1),'tagTrace'+($index+1),'tagRepeated'+($index+1),'tagProperty'+($index+1))"><i class="fa fa-plus-circle"></i></a></div>追踪新网页DOM标签
							</h6>
						  </li>
                        </ul>
				    </div>
					<a ui-if='tagRepeated{{$index}}' class="btn"><i class="fa fa-repeat"></i></a>
					<a ui-if='tagPropSelected{{$index}}' class="btn"><i class="fa fa-tags"></i></a>
					<a ui-if='tagTraceNew{{$index}}' class="btn"><i class="fa fa-link"></i></a>
				  </div>
				</div>
				
			</fieldset>
			<br>
			<span class="pull-left bg-info">{{}}</span>

			<button class="btn btn-primary form-control">
			  提交
			</button>

		  </form>
		</div>
		<div class="clearfix"></div>
      <div >
      </div>
<!--
 [{
		"attributes" : {
			"href" : "/a/161292",
			"target" : "_blank"
		},
		"height" : 40,
		"html" : "Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛",
		"nodeName" : "a",
		"tag" : "<a href=\"/a/161292\" target=\"_blank\">Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛</a>",
		"text" : "Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛",
		"visible" : true,
		"width" : 296,
		"x" : 73.359375,
		"y" : 354
	}
]
-->
    </div>

  </div>
</div>
