<div ui-content-for="title">
  <span >追踪</span>
</div>

<div class="scrollable">  
  <div class="scrollable-content section">

    <div class=" container">
		<div >
		  <form role="form" ng-submit='update()' >
			<fieldset>
			    <div class="justified media">
                  <div >
				    <input type="text" ng-model="pages[0].name" class="form-control"></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <a class="btn text-muted"><i class="fa fa-arrow-circle-left"></i></a>
				      <small class="text-muted">追踪猎物名称</small>
					</div>
				  </div>
				</div>
			    <div class="justified media">
                  <div >
				    <input type="text" ng-model="item.expr" class="form-control" placeholder="?为DOM元素值. eg. www.web.com/?;[]为csv数据/db数据"></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <a class="btn text-muted"><i class="fa fa-arrow-circle-left"></i></a>
				      <small class="text-muted">网页URL</small>
					</div>
				  </div>
				</div>
				<div ng-repeat="item in detail" class="justified list-item-patch-i">
				  <div>
				    <ui-state id='options{{$index}}' default='0'></ui-state>
					<ui-state id='prop{{$index}}' default='0'></ui-state>
					<ui-state id='arrays{{$index}}' default='0'></ui-state>
					<ui-state id='help{{$index}}' default='0'></ui-state>
					<a ui-if='arrays{{$index}}' class="media-unleft">
					  <i class="fa fa-at"></i>
					</a>
				    <input type="text" ng-model="item.expr" class="form-control"></input>
				  </div>
				  <div class="btn-group">
				    <div class="pull-left">
					    <a class="btn" ui-turn-on='help{{$index}}'>
					      <i ui-if='help{{$index}}' class="fa fa-arrow-circle-down"></i>
					  	<i ui-if='!help{{$index}}' class="fa fa-arrow-circle-left"></i>
					    </a>
					    <small class="text-muted h6" ui-if='!options{{$index}}&&!prop{{$index}}'>追踪网页DOM元素</small>
					    <a ng-if='$last||$last==undefine' class="btn" ng-click="addObject('help'+($index+1),'options'+($index+1),'arrays'+($index+1),'help'+($index+1),'prop'+($index+1))"><i class="fa fa-plus-circle"></i></a>
					    
                        <ul
					        ui-if='help{{$index}}'
					  	  ui-outer-click="Ui.turnOff('help' + $index)" 
					  	  ui-outer-click-if="Ui.active('help' + $index)" class="dropdown-menu text-muted">
                          <li><h6 class="media-right">你可以选择</h6></li>
					      <li class="divider"></li>
					  	<li><h6 class="media-left"><a class="btn" ui-toggle='arrays{{$index}}'><i class="fa fa-at"></i></a>标记网页DOM元素为数组</h6></li>
                          <li><h6 class="media-left"><a class="btn" ui-toggle='options{{$index}}'><i class="fa fa-link"></i></a>继续根据网页DOM元素追踪猎物</h6></li>
						  <li class="container"><small class="media-right">
						  <select type="text" class="form-control" placeholder="">
						    <option></option>
						    <option ng-repeat='page in pages' ng-value="page.id"><span >{{page.name == ''? page.id : page.name}}</span>编辑</option>
							<option><span><a>新建</a></span></option>
						  </select></small></li>
                          <li><h6 class="media-left"><a class="btn" ui-toggle='prop{{$index}}'><i class="fa fa-tags"></i></a>追踪网页DOM元素属性</h6></li>
						  <li class="container"><small class="media-right"><input type="text" class="form-control " placeholder="eg.href, tag, ..."></input></small></li>
					      <li><h6 class="media-left"><div class="btn"><i class="fa fa-plus-circle"></i></div>新增追踪网页DOM元素</h6></li>
                        </ul>
				    </div>
				  </div>
				</div>
				
			</fieldset>
			<br>
			<span class="pull-left bg-info">{{}}</span>

			<button class="btn btn-primary form-control">
			  提交
			</button>

		  </form>
		</div>
		<div class="clearfix"></div>
      <div >
      </div>
<!--
 [{
		"attributes" : {
			"href" : "/a/161292",
			"target" : "_blank"
		},
		"height" : 40,
		"html" : "Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛",
		"nodeName" : "a",
		"tag" : "<a href=\"/a/161292\" target=\"_blank\">Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛</a>",
		"text" : "Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛",
		"visible" : true,
		"width" : 296,
		"x" : 73.359375,
		"y" : 354
	}
]
-->
    </div>

  </div>
</div>
