<div ui-content-for="title">
  <a back-button><i class="fa fa-chevron-left"></i></a>
</div>
<div ui-content-for="navbarAction">
  <span >连续追踪</span>
</div>
<ui-state id='taskTraced' default='0'></ui-state>
<div class="scrollable">  
  <div class="scrollable-content section">

    <div class=" container">
		<div >
		  <form role="form" ng-submit='update()' >
			<fieldset>
			    <div class="justified list-item-patch-i">
                  <div >
				    <input type="text" ng-model="currPage.id" class="form-control" readonly></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <div class="btn"><i class="fa fa-arrow-circle-left"></i></div>
				      <small class="text-muted">追踪猎物ID</small>
					</div>
				  </div>
				</div>
			    <div class="justified list-item-patch-i">
                  <div >
				    <input type="text" ng-model="currPage.name" class="form-control" readonly></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <div class="btn"><i class="fa fa-arrow-circle-left"></i></div>
				      <small class="text-muted">追踪猎物名称</small>
					</div>
				  </div>
				</div>
			    <div class="justified media">
                  <div >
				    <input type="text" ng-model="currPage.url" class="form-control" placeholder="?为替换符. eg. www.web.com/%s;[task name]为csv/db替换符" ></input>
				  </div>
				  <div class="btn-group">
				    <div>
				      <div class="btn btn-primary" ui-turn-on='taskTraced'><i class="fa fa-arrow-circle-left"></i></div>
				      <small class="text-muted">网页URL</small>
					  <div class="dropdown pull-left"
                        ui-outer-click="Ui.turnOff('taskTraced')"
                        ui-outer-click-if="Ui.active('taskTraced')"
                        ui-show="taskTraced"
                        ui-turn-off="taskTraced">
			            <ul class="dropdown-menu text-muted">
			          	<li><h6>eg. www.google.com/?/lan=zh, ?代表前面传入的网页标签。</h6></li>
			            </ul>
			          </div>
					  
					</div>
				  </div>
				</div>
				<div ng-repeat="(id, item) in tags " class="justified list-item-patch-i">
				  <div>
				    <input type="text" ng-model="item.expr" class="form-control" readonly></input>
				  </div>
				  <div class="btn-group">
				    <div class="pull-left">
					    <div class="btn">
					  	  <i class="fa fa-arrow-circle-left"></i>
					    </div>
					    <small class="text-muted h6" 
						  ng-if='!item.isTagged()'>追踪网页标签
						</small>
				    </div>
					<div ui-if='item.tagRepeated()' class="btn"><i class="fa fa-repeat"></i></div>
					<div ui-if='item.tagPropSelected()' class="btn"><i class="fa fa-tags"></i></div>
					<div ui-if='item.tagTraceNew()' class="btn"><i class="fa fa-link"></i></div>
				  </div>
				</div>
				
			</fieldset>
			<br>
			<div class="justified">
			  <div class="justified media-left">
			    <a class="btn btn-primary" ng-click="commit()">
			      确认
			    </a>
			  </div>
			  <div class="justified">
			    <a class="btn btn-primary" ng-click="cancel()">
			      取消
			    </a>
			  </div>
			</div>

		  </form>
		</div>
		<div class="clearfix"></div>
      <div >
      </div>
<!--
 [{
		"attributes" : {
			"href" : "/a/161292",
			"target" : "_blank"
		},
		"height" : 40,
		"html" : "Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛",
		"nodeName" : "a",
		"tag" : "<a href=\"/a/161292\" target=\"_blank\">Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛</a>",
		"text" : "Jason and the Argonauts | 金羊毛 | 杰逊王子战群妖 | 希腊战神、伊阿宋与金羊毛",
		"visible" : true,
		"width" : 296,
		"x" : 73.359375,
		"y" : 354
	}
]
-->
    </div>

  </div>
</div>
