<ui-state id='taskTraced' default='0'></ui-state>
<ui-state id='taskClocked' default='0'></ui-state>
<div class="modal" ui-if='taskadd' ui-state='taskadd'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ui-turn-off="taskadd">&times;</button>
        <h4 class="modal-title">新任务</h4>
      </div>
      <div class="modal-body">
	    <div class="form-group justified">
		  <a></a>
		  <span class="pull-left">名字</span>
          <div><input ng-model="nameTask" class="form-control" placeholder="任务名" ></input></div>
		</div>
		<div class="form-group justified">
		  <a ><i class="fa fa-line-chart "></i></a>
		  <div><span class="pull-left">增量追踪</span><i class="fa fa-question-circle text-muted pull-left" ui-turn-on='taskTraced'></i>
		    <div class="dropdown pull-left"
              ui-outer-click="Ui.turnOff('taskTraced')"
              ui-outer-click-if="Ui.active('taskTraced')"
              ui-show="taskTraced"
              ui-turn-off="taskTraced">
			  <ul class="dropdown-menu text-muted">
				<li><h6>跳过已追踪过的猎物，只对新猎物进行追踪，默认关闭。</h6></li>
			  </ul>
			</div>
		  </div>
          <div><ui-switch ng-model='incrTask'></ui-switch></div>
		</div>
		<div class="form-group justified">
		  <a><i class="fa fa-history "></i></a>
		  <div class="media-middle"><span class="pull-left">定时追踪</span><i class="fa fa-question-circle text-muted pull-left" ui-turn-on='taskClocked'></i>
		    <div 
			  ui-if='taskClocked'
              ui-outer-click="Ui.turnOff('taskClocked')" 
              ui-outer-click-if="Ui.active('taskClocked')"
			  ui-show="taskClocked"
			  ui-turn-off="taskClocked"
			class="dropdown pull-left ">
			  <ul class="dropdown-menu text-muted">
				<li><h6>按时间间隔进行追踪，默认0，表示关闭。 无论关闭与否，结果只保存最近的两份。</h6></li>
			  </ul>
			</div>
		  </div>
          <div><input type="number" ng-model="clockTask" class="form-control" value="0" ></input></div>
		</div>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="taskadd" class="btn btn-primary" ng-click="addTask()">提交</button>
      </div>
    </div>
  </div>
</div>
