<div ui-content-for="title">
  <a class="pull-right">任务管理</a>
</div>
<div ui-content-for="navbarAction">
  <a ui-turn-on="taskadd"><i class="fa fa-plus-circle"></i>添加任务</a>
</div>
<div ui-content-for="modals">
  <div ng-include="'taskadd.html'"></div>
</div>
<div class="scrollable" >
  <!--input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." /-->

  
  <div class="scrollable-content section" ui-scroll-bottom='bottomReached(page)'>
    <div class="container">
      <div ng-repeat="item in tasks" class="list-group-item justified">
		<div class="h5 media-middle">{{ item.id.substring(0,8) }}</div>
		<div class="h5 media-middle">{{ item.name }}</div>
		<div class="h5 media-middle">{{ item.time }}</div>
		<div class="h5 media-middle">
		  <a ng-if="item.statusString()=='play'"><i class="fa fa-stop pull-right" ></i></a>
		  <a ng-if="item.statusString()!='play'&& item.statusString()=='complete'" class="fa fa-play pull-right" ng-click="play(item)"></a>
		  <i ng-if="item.statusString()!='play'&& item.statusString()!='complete'" class="fa fa-play pull-right text-muted"></i>
		</div>
		<div class="h5 media-middle">
		  <a ng-click="delTask($index)"><i class="fa fa-minus-circle pull-right"></i></a>
		  <i class="fa {{item.hasClock()? 'fa-history': 'fa-history text-muted'}} pull-right"></i>
		  <i class="fa {{item.hasIncr()? 'fa-line-chart': 'fa-line-chart text-muted'}} pull-right"></i>
		  <i ng-if="item.statusString()=='start'" class="fa fa-hourglass-start pull-right"></i>
		  <i ng-if="item.statusString()=='editing'" class="fa fa-hourglass-half pull-right"></i>
		  <i ng-if="item.statusString()=='complete'" class="fa fa-hourglass-end pull-right"></i>
		</div>
		<div class="h5 media-middle">
		  <a ng-if="item.statusString()!='play'" href="#/page?pid={{item.getRootPage().id}}&tid={{item.id}}"><i class="fa fa-chevron-right pull-right" ></i></a>
		  <i ng-if="item.statusString()=='play'" class="fa fa-chevron-right pull-right text-muted"></i>
		</div>
      </div>
    </div>
  </div>

  <!--a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
    <i class="fa fa-search"></i> 
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a-->
  </div>
</div>