<div ui-content-for="title">
  <a href="#" ui-set="{'more': true}">任务清单</a>
</div>

<div class="scrollable" >
  <!--input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." /-->

  
  <div class="scrollable-content section" ui-scroll-bottom='bottomReached(page)'>
    <div class="container">
      <a ng-repeat="item in tasks" href="#/taskdetail" class="list-group-item justified">
		<div class="h5 media-middle">{{ item.name }}</div>
		<div class="h5 media-middle">{{ item.start }}</div>
		<div class="h5 media-middle">{{ item.end }}</div>
		<div class="h5 media-middle"><i class="fa fa-chevron-right pull-right"></i></div>
      </a>
    </div>
  </div>

  <!--a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
    <i class="fa fa-search"></i> 
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a-->
  </div>
</div>